<div *ngIf="contato">
    <div>
        <label>Nome: </label>
        <span *ngIf="!editando" >{{ contato.nome }}</span>
        <input [(ngModel)]="nome" class="form-control" *ngIf="editando" type="text" [placeholder]="contato.nome" >
    </div>
    <div>
        <label>Idade: </label>
        <span *ngIf="!editando" >{{ contato.idade }}</span>
        <input [(ngModel)]="idade" class="form-control" *ngIf="editando"[placeholder]="contato.idade" >
    </div>
    <div>
        <label>Ativo: </label>
        <span *ngIf="!editando" >{{ contato.ativo }}</span>
        <input [(ngModel)]="ativo" class="form-control" *ngIf="editando"[placeholder]="contato.ativo" >
    </div>
    <br>



    <span class="is-small btn btn-primary margin-right10" *ngIf="editando" (click)="atualizaAtivo()" >Salvar</span>
    <span class="is-small btn btn-primary margin-right10" *ngIf="editando" (click)="editando=!editando" >Cancelar</span>
    <span class="is-small btn btn-success margin-right10"  *ngIf="!editando" (click)="editando=!editando" >Editar</span>
    <span class="is-small btn btn-danger" (click)="deletaContato()">Remover</span>

</div>